  <div style="display: grid;
    @boardStyle" class="board">
    @foreach (var item in squares)
    {
        <BlazorApp13.Componets.Squarer squarer="item" OnmouseUp="()=>MouseUp(item)"/>
    }
</div>
    </div>

@code {

}
