<div class="clock">
    <div class="time-unit hours">
        <div class="number">@temporizador.horas.ToString("D2")</div>
    </div>
    <div class="tick">:</div>
    <div class="time-unit minutes">
        <div class="number">@temporizador.minutos.ToString("D2")</div>
    </div>
    <div class="tick">:</div>
    <div class="time-unit seconds">
        <div class="number">@temporizador.segundos.ToString("D2")</div>
    </div>
</div>

@code {
    public Models.Temporizador temporizador = new Models.Temporizador();

    protected override async Task OnInitializedAsync()
    {
        temporizador.horas = 0;
        temporizador.minutos = 0;
        temporizador.segundos = 0;
        temporizador.contadorActivo = true;

        while (temporizador.contadorActivo)
        {
            await Task.Delay(1000); // Espera un segundo

            temporizador.segundos++; // Incrementa los segundos

            if (temporizador.segundos == 60)
            {
                temporizador.minutos++; // Incrementa los minutos cuando los segundos llegan a 60
                temporizador.segundos = 0; // Reinicia los segundos
            }

            if (temporizador.minutos == 60)
            {
                temporizador.horas++; // Incrementa las horas cuando los minutos llegan a 60
                temporizador.minutos = 0; // Reinicia los minutos
            }
            StateHasChanged();
            
        }
    }

    // Opcional: Detener el contador
    public void DetenerContador()
    {
        temporizador.contadorActivo = false;
    }
}
