@page "/weather"
@using BlazorApp13.Models
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Score</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Date</td>
                    <td>@player.Name</td>
                    <td>@player.Score</td>
                    <td>@player.Tiempo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PlayerPosiciones[]? players;

    protected override async Task OnInitializedAsync()
    {
        players = await Http.GetFromJsonAsync<PlayerPosiciones[]>("Player.json");
    }

}
